include message_collector.ini.default
message_collector.uwsgi.ini.default
message_collector.nginx.ini.default
message_collector.conf
include message_collector.py
include config.py
include setup.py
include README.txt
